
.btn{
    border-radius: 2px;
    border: none;
    font-size: .9em;
    line-height: 2.1em;
    font-family: $font-extra;
    padding: 8px 25px;

    img{
        position: relative;
        top: -2px;
        margin-left: 10px;
    }
}

.btn-warning{
    background: $color-orange;
    color: #fff;

    &:hover{
        color: #fff;
        background: darken($color-orange, 10%);
    }
}

.btn-primary{
    background: #fff;
    color: $color-blue;

    &:hover{
        color: $color-blue;
        background: darken(#fff, 10%);
    }
}