
$fontWights: ('light': 300, 'bold': 700);

$font-primary: 'Open Sans', sans-serif;
$font-extra: 'Poppins', sans-serif;


$color-text: #000;
$color-blue: #1C92ED;
$color-orange: #FC601D;


$text-regular: 300;
$text-semibold: 400;
$text-bold: 600;


//@include grid-border();

//@include colors((
//    'primary': $color-primary,
//    'text': $color-text,
//    'light': #fff
//));


//$grid-breakpoints: (
//        xs: 0,
//        sm: 576px,
//        md: 768px,
//        lg: 992px,
//        xl: 1200px,
//        xxl: 1400px
//);

//$container-max-widths: (
//        sm: 540px,
//        md: 720px,
//        lg: 960px,
//        xl: 1140px,
//        xxl: 1320px
//);


// $spacer: 1rem !default;
// $spacers: () !default;
// $spacers: map-merge((
//         0: 0,
//         1: ($spacer * .25),
//         2: ($spacer * .5),
//         3: $spacer,
//         4: ($spacer * 1.5),
//         5: ($spacer * 3),
//         6: ($spacer * 5),
//         7: ($spacer * 10)
// ), $spacers);
