
$font-primary: 'Open Sans', sans-serif;
$font-extra: 'Poppins', sans-serif;


$color-text: #000;
$color-blue: #1C92ED;
$color-orange: #FC601D;



*{
    box-shadow: 0px 0px 0px 1px rgba(red, .2);
}
.container{
    box-shadow: 0px 0px 0px 1px rgba(green, .4);
}
.row{
    box-shadow: 0px 0px 0px 1px rgba(blue, .2);
}